@font-face {
    font-family: "Press Start 2P";
    src: url("./assets/fonts/PRESSSTART2P/PressStart2P.ttf");
}

@font-face {
    font-family: "VCR OSD Mono";
    src: url("./assets/fonts/VCROSDMONO/VCR_OSD_MONO_1.001.ttf");
}

body {
    background-color: rgb(35, 35, 35);
    color: white;
    background: rgb(0,140,255);
    background: linear-gradient(45deg, rgba(0,140,255,1) 0%, rgb(35, 35, 35) 35%, rgb(35, 35, 35) 65%, rgba(0,191,255,1) 100%);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "VCR OSD Mono", sans-serif;
}

div{
    border-radius: 10px;
    margin: 10px;
    background-color: rgba(17, 17, 17, 0.6);
    text-align: center;
    padding: 1%;
}

.tabs{
    border-radius: 0;
    margin: 0;
    background-color: rgba(0,0,0,0);
}

.topTabs{
    border-radius: 0;
    margin: 0;
    background-color: rgb(35, 35, 35);
    filter: drop-shadow(0 0 10px black);
}

.title{
    margin-left: 30%;
    margin-right: 30%;
}

.mainPartOfTabs{
    margin-left: 10%;
    margin-right: 10%;
    text-align: left;
    font-size: 20px;
}

h1,h2{
    font-family: "Press Start 2P", sans-serif;
    font-size: 30px;
}

.subtitle {
    color: #aaa;
}

.buttonLink {
    background-color: rgb(35, 35, 35);
    filter: drop-shadow(0 0 10px black);
    color: white;
    font-family: "VCR OSD Mono", sans-serif;
    border-radius: 5px;
    border-style: solid;
    font-size: 15px;
    padding: 1%;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.buttonLink:hover {
    background-color: #00bfff;
}

ul.ytVideos {
    padding-left: 0px;
    text-align: center;
    overflow-x: scroll;
    white-space: nowrap;
}
ul.ytVideos > li {
    display: inline-block;
    padding: 0px 20px;
}

ul.presentationLines > li {
    padding-bottom: 15px;
}

.myStuff {
    margin: 0;
    padding: 0;
    text-align: center;
    list-style-type:none;
    display: flex;
    justify-content: center;
}

.myStuff > li {
    display: inline-block;
    padding-right: 20px;
    min-width: 30%;
    width: 30% !important;
    height: 150px;
}

.myStuff > div > button {
    height: max-content;
}

.myStuff > li > button {
    min-width: 100%;
    min-height: 100%;
    background-image: none;
    mix-blend-mode: add;
}

.socialMedia {
    padding-left: 0px;
    text-align: center;
    white-space: nowrap;
}

.socialMedia > li {
    display: inline-block;
    padding-right: 20px;
    min-width: 22%;
    height: 75px;
}

.socialMedia > li > button {
    min-width: 100%;
    min-height: 100%;
    background-image: none;
    mix-blend-mode: add;
}

.imageBG {
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    /* Blend with parents background: */
    mix-blend-mode:multiply;
    z-index: -1;
    position:absolute;
    top: 0px;
    left: 0px;
}

.altFont {
    font-family: "Press Start 2P", sans-serif;
}